<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Structure</title>
  </head>
  <body>
    <h1>Data Structure in Jinja2</h1>

    <h2>List Structure</h2>
    <p>My favorite movie is:</p>
    <li>{{movie[0]}}</li>
    <li>{{movie[1]}}</li>
    <li>{{movie[2]}}</li>

    <h2>Dictionary Structure</h2>
    <p>This is the car with:</p>
    <li>Brand : {{car["brand"]}}</li>
    <li>Color : {{car["color"]}}</li>
    <li>Year : {{car["year"]}}</li>
  </body>
</html>
