{% from 'macros.jinja2' import todo_li%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Structure</title>
  </head>
  <body>
    <h1>Data Structure in Jinja2</h1>
    {% set num_todo = todos | length %} {% if num_todo > 0 %}
    <p>you have {{num_todo}} to do today</p>
    {% for todo, complete in todos %} {{ todo_li(todo, complete)}} {% endfor %}
    {% else %}
    <p>you havenothing to do today</p>
    {% endif %}
  </body>
</html>
